<!DOCTYPE html>
<html>
<head>
	<title>Vue.js 2 For Beginners</title>
</head>
<body>

	<div id="app">
		<ul>
			<li v-for="(output, index) in komentar">
				<button v-text="button1" @click="valuePlus(index)"></button><br>
				<span>{{ output.komen }} || {{ output.tgl }} || Score : {{ output.skor }}</span><br>
				<button v-text="button2" @click="valueMinus(index)"></button><br><br>
			</li>
		</ul>
		<textarea cols="60" rows="10" v-model="komenArea" @keyup.enter="enterPressed"></textarea><br>
	</div>

	<script src="assets/vendor/vue.js"></script>
	<script src="assets/js/app.js"></script>

</body>
</html>